
body {
  font-family: 'Courier New', Courier, monospace; 
  margin: 0;            /* zruší výchozí vnější okraje stránky */
  padding: 0;          
  background: #fafafa;  
  color: #333;          
}

header {
  background: #fff;          
  border-bottom: 1px solid #ddd; 
  position: sticky;           
  top: 0;                     
  z-index: 100;               
}

nav {
  margin: 0 auto;                  
  display: flex;                    
  justify-content: space-between;  
  align-items: center;              
  padding: 0.5rem 1rem;             
}

nav .logo {
  font-weight: bold;     
  font-size: 1.2rem; 
}

nav ul {
  list-style: none;      
  margin: 0;             
  padding: 0;            
  display: flex; 
  gap: 1rem; 
}

nav a {
  text-decoration: none; 
  color: #333;         
  transition: color 0.2s; 
}

nav a:hover {
  color: #007acc;        
}

main {
  margin: 2rem auto;     
  padding: 0 1rem;       
}

section {
  margin-bottom: 4rem;   /* mmezera mezi sekcemi */
}

pre {
  font-size: 4.5vw;           
  margin: 0 auto;        
  overflow-x: none;        
  white-space: pre; 
}

.menu-toggle {
  display: none;         
  font-size: 1.5rem;     /*vleká ikona ☰ */
  cursor: pointer;
}

@media (max-width: 600px) { 
  nav ul {
    display: none;     
    flex-direction: column; 
    background: white;   
    position: absolute;     
    top: 60px;             
    right: 1rem;              
    border: 1px solid #ddd;  
    padding: 1rem;           
  }
  nav ul.show {
    display: flex; /* když má třídu .show, zobrazí se */
  }
  .menu-toggle {
    display: block; /* zobrazí trojčáru */
    
  }
  
}
