/* ======== všechno ======== */
body {
  font-family: 'Courier New', Courier, monospace; /* moje oblíbené písmo */
  margin: 0;            /* zruší výchozí vnější okraje stránky */
  padding: 0;           /* zruší výchozí vnitřní okraje stránky */
  background: #fafafa;  /* světle šedé pozadí */
  color: #333;          /* tmavě šedá barva textu */
}

/* ======== záhlaví ======== */
header {
  background: #fff;           /* ílé pozadí  */
  border-bottom: 1px solid #ddd; /* tenoučká šedá linka dole */
  position: sticky;           /* zůstane nahoře při scrollování */
  top: 0;                     /* přilepení k hornímu okraji stránky */
  z-index: 100;               /*  vykreslí se nad obsahem */
}

/* ======== lišta ======== */
nav {
  margin: 0 auto;                   /* na střed */
  display: flex;                    
  justify-content: space-between;   /* logo vlevo, menu vpravo */
  align-items: center;              
  padding: 0.5rem 1rem;              /* vnitřníí mezery */
}

/* ======== logo v navigaci ======== */
nav .logo {
  font-weight: bold;     
  font-size: 1.2rem; 
}

/* ======== seznam odkazů ======== */
nav ul {
  list-style: none;      /* bez odrážek */
  margin: 0;             /* bez vnějších mezer */
  padding: 0;            /* bez vnitřních mezer */
  display: flex;         /* vedle sebe */
  gap: 1rem;             /* mezera mezi položkami */
}

/* ======== odkazy v navigaci ======== */
nav a {
  text-decoration: none; /* bez podtržení */
  color: #333;           /* tmavě šedá barva */
  transition: color 0.2s; /* plynulá změna barvy při najetí */
}

nav a:hover {
  color: #007acc;        /* modrá barva po najetí myší */
}

/* ======== hlavní obsah ======== */
main {
  margin: 2rem auto;     /* vycentrování a mezery nahoře a dole */
  padding: 0 1rem;       /* vnitřní mezery po stranách */
}

section {
  margin-bottom: 4rem;   /* mmezera mezi sekcemi */
}

/* ======== tlačítko pro mobilní menu ======== */
.menu-toggle {
  display: none;         /* default skryté */
  font-size: 1.5rem;     /* Velká ikona ☰ */
}

/* ======== styly pro mobilní zobrazení ======== */
@media (max-width: 600px) { /* upatni se pro obrazovky do 600px */
  nav ul {
    display: none;           /* schová menu */
    flex-direction: column;  /* položky pod sebou */
    background: white;       /* bílé pozadí */
    position: absolute;      /* umístění přes obsah */
    top: 60px;                /* pod hlavičkou */
    right: 1rem;              /* zarovnání doprava */
    border: 1px solid #ddd;   /* rámeček */
    padding: 1rem;           
  }
  nav ul.show {
    display: flex; /* když má třídu .show, zobrazí se */
  }
  .menu-toggle {
    display: block; /* zobrazí trojčáru */
  }
}
